@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section{
    padding-top: 80px!important;
    padding-bottom: 80px!important;
}
 body{
     font-family:'Poppins', sans-serif;
     font-size: 16px;
 }
 h1,h2,h3,h4,h5,h6{
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
 }
:root{
    --primary-color:#ff546e;
    --text-color:#777;
    --hover-color:#f0314e;
    --title-color:rgba(0, 0, 0, 0.889);
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: #000!important;
}
/* ==============header================ */
.topber{
    border-bottom: 1px solid #eaeaea
}
.topbar_contact{
    padding-top: 5px;
}
.topbar_contact span{
font-size: 15px;
color: var(--text-color);
font-weight: 400;
    
}
.topbar_contact span i{
  

    color: var(--primary-color);margin-right: 10px;
}
.topber_right_contant{
    display: flex;
    flex-direction: row!important;
 
}
.topber_right_contant a{
    font-size: 14px;
    color: var(--text-color);
    display: block;
}
.topber_right_contant a i{
 margin-right: 10px;
    color: var(--primary-color);
}
.dropdown-menu[data-bs-popper]{
    margin-left: -15px;
    position: absolute;
    top:90%;
 padding-bottom: 0px;
 padding-top: 0px;
 

}
.topbar_dropdown li a{
    padding-top: 8px;

}
.topbar_dropdown li a:hover{
    background-color:var(--hover-color);
    color: #fff;
    
}
.nav-link {
 display: block;
    font-size:16px;
    color:var(--title-color)!important;
    font-weight: 400;
    font-size:14px;
 

}
.nav-link  i{
    font-size:10px;
    margin-left: 5px;
   
    
}
.nav-link:hover{
    color: var(--hover-color)!important;
}
 
 
 .navBtn{
     border: none;
 }
 .navBtn span{
     color: var(--primary-color)!important;
     font-size:20px;
 }
.navbar-toggler:focus{
    box-shadow:none;
}
 
 
 
.cardIcon button{
    width:35px;
    height: 35px;
   border: none;
   outline: none;
   padding:5px;
   
    border-radius: 50%;
    background: var(--primary-color);
    
   
}
.cardIcon button i{
    display: grid;
   place-items: center;
   color: #fff;
   font-size: 14px;
}
.shoppingIcon{
    background-color: rgb(226, 222, 222)!important;
}
.shoppingIcon:hover{
    background-color: var(--primary-color)!important;
    color: #fff!important;
}
.shoppingIcon:hover i{
    color: #fff!important;
}
 
 
.shoppingSub ul li{
    list-style: none;
   margin-bottom: 5px;
    
     
}
#product{
    padding-top: 0px!important;
}
.shoppingIcon_product{
    display: flex;
    justify-content: start;
    padding: 15px;
    margin-left: -31px;
    border-bottom: 1px solid #ddd;
}
.shoppingIcon_product img{
    max-width: 100%;
    object-fit: cover;
}
.shoppingIcon_product_content{
    margin-left:20px;
    margin-top: 10px;
    color: #777;
}
.shoppingIcon_check{
    margin-left: -25px;
}
.checkout_btn{
    background-color: var(--primary-color);
    padding: 8px 35px;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 50px;
}
.checkout_btn:hover{
    background-color:#777;
    color: #fff;
}

/* home_slider */
 
 .slider_img{
     width: 100%;
     background-repeat: no-repeat!important;  
  
     background-position:center!important;
     background-size: cover!important;
    
 }
 .slider_content{
     padding: 240px 0px;
 }
 .sub_title{
     background-color: var(--primary-color);
     color: #fff;
     padding: 5px 10px;
     font-size: 15px;
 }
 .section_title{
     color: #fff;
     font-size: 50px;
     font-weight: 700;
     letter-spacing: 5px;
     
 
 }
 .section_text{
     color: #fff;
     font-size: 14px;
     line-height: 25px;
 }
 .primary_btn{
    background-color:var(--primary-color);
    color: #fff!important;
    padding: 12px 25px;
    text-transform: capitalize;
    border-radius: 4px;
 }
 .hover_btn{
background-color: #fff;
color: #000!important;
 }
 .hover_btn:hover{
     background-color: var(--primary-color);
     color: #fff!important;
 }
 .slick-dots{
     position: absolute;
     bottom:5%;
     background-color: transparent;
 }
 .slick-dots li{
     background-color:#ddd;
     width: 20px!important;
     height: 6px;
 }
.slick-dots li.slick-active button:before{
    background-color: #ff546e;
    width: 100%;
    height: 100%;
    color: transparent;
}
.slick-dots li button:before{
    color: transparent;
}
 .slick-slider{
     height: 100%!important;
 }

 /* offer_info */
 .offer_img{
     overflow: hidden;
 }
 .offer_img:hover  .offer_info{
    transform: translateY(0%)!important;
    cursor: pointer;
 }
 .offer_img img{
     width: 100%;
     object-fit: cover;
     
 }
 .offer_info{
     
color: #fff;
  bottom: 0px;
 text-align: center;
 width: 100%;
 height: 100%;
 background: linear-gradient(15deg, black, transparent);
 transform: translateY(-105%);
 transition: 0.6s;
 }
 .offer_btn{
     padding: 5px 20px;
     
 }
 .offer_content{
     margin-top: 50%;
     transform: translateY(-50%);
 }
 .offer_content h5{
     font-size: 25px;
     font-weight: 500;
 }
 .offer_content p{
     margin-top: 5px;
 }

 /* product */
 .product_gride{
     transition: all 0.6s;
     overflow: hidden;
 }
 
 .product_gride:hover .pic-1{
    opacity: 0;
}
.product_gride:hover .pic-2{
    opacity: 1!important;
    
}
 
 .product_img{
     position: relative;
   
 }
 .product_img img{
   width: 100%;
     
     object-fit: cover;
      
 }
 .pic-2{
     position: absolute;
     left: 0%;
     top: 0%;
     opacity: 0;
     transition: all 0.6s;
 }
 .product_ratting{
    padding-top: 10px;
 
 }
 .product_ratting ul{
    display: flex;
    justify-content: center;
    margin-left: -25px;
    
 }
 .product_ratting ul li{
     list-style:none;
   
 }
 .product_ratting ul li a{
     display: grid;
     place-items: center;
    
 }
 .product_ratting ul:last-child{
     margin-right: 0px!important;
 }
 .product_ratting ul i{
     font-size: 12px;
     color: rgb(248, 168, 9);
 }
 .product-new-label{
     background-color: var(--primary-color);
     width: 70px;
     text-align: center;
     text-transform:uppercase;
     color: #fff;
     padding:4px;
     position: absolute;
     top: 3%;
     left: 3%;
 }
 .product_content{
    padding: 0px;
     padding-bottom: 10px;
     margin: auto;
     text-align: center;
 
 }
 .product_content span{
     font-size:16px
 }
 .product_gride:hover .product_content span{
color: var(--primary-color)!important;
 }
 .product_content h5{
 font-size: 20px;
 font-weight: bold;
 }
 .product_content h5 del{
     font-size: 16px;
     font-weight: normal;
     color: var(--text-color);
     margin-left: 4px;
 }
 .product_content a{
     font-size: 13px;
     font-weight: 500;
 }
 .product_content i{
     font-weight:400;
     font-size: 16px;
     
 }
 .product_icon{
     position: absolute;
     top:60%;
     left: 50%;
     transform: translate(-50%,-50%);
     opacity: 0;
     transition: all 0.6s;
 }
 .product_gride:hover .product_icon{
     top: 50%!important;
     opacity: 1;
 }
 .product_icon ul{
     display: flex;
     justify-content: center;
     
 }
 .product_icon ul li{
     list-style: none;
 }
 .product_icon ul li a{
     display: block;
     background-color:#fff;
     width: 40px;
     height: 40px;
     display: grid;
     place-items: center;
     color: var(--primary-color)!important;
      
     border-radius: 50%;
 }
 .product_icon ul li a:hover{
     background-color: var(--primary-color)!important;
     color: #fff!important;
 }
 .product_btn{
     padding: 7px 10px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #000 !important;;
 }
 .product_btn:hover{
     background-color: var(--primary-color);
     color: #fff!important;
 }
 .section_sub_title{
     font-size: 14px;
     text-transform: capitalize;
     font-weight: 400;
     color:rgb(137, 135, 135)
 }
 .title{
     font-weight: 700;
     font-size: 28px;
     word-spacing: 2px;
     letter-spacing: 5px;
    padding: 15px 0px;
    
 }
 .title::before{
     content: "";
     width:100px;
     height: 4px;
     background-color: var(--primary-color);
     position:absolute;
     bottom: 0%;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 50px;
 }


 .nav-pills .nav-link{
     color: var(--text-color)!important;
     padding:4px 20px;
     font-size: 15px;
     padding-bottom: 2Fpx!important;
 }
 .nav-pills .nav-link.active, .nav-pills .show .nav-link{
      background-color: transparent;
      border: 1px solid var(--primary-color);
     border-radius: 50px;
     
 }

 /* winter */
 #winter{
     background-color: #f9f9f9;
     padding-top: 0px!important;
 }
 .winter_img{
width:350px;
 float: right;
 margin-right: 50px;

 
 }
 .winter_img img{
     width: 100%;
     object-fit: cover;
     border-radius: 5px;
 }
 
 .winter_content span{
    font-size: 13px;color:var(--text-color);
 }
 .winter_content h2{
     font-size: 25px;
     color: var(--primary-color);
     font-weight: 600;
     margin: 10px 0px;
     line-height: 28px;
 }
 .winter_content p{
font-size: 13px;
color: var(--text-color);
width: 76%;
line-height: 28px;
margin-top: 30px;
 }
 .img_dis{
     width: 70px;
     height: 70px;
     background-color: var(--primary-color);
     text-align: center;
   color: #fff;
   font-weight: bold;
   display: grid;
   padding: 10px;
   place-items:center ;
   border-radius: 50px;
   position: absolute;
   top: 15px;
   left: 20px;
   
 }
.counter_box{
     
    background-color:#fff;
   width:85px;
   padding: 15px;
   border: 5px solid #f5f5f5;
   border-radius: 50px;
     
 
  
}
.counter_box span{
    font-size: 12px;
}
.winer_btn a:hover{
    background-color: var(--hover-color);
}
/* testimonial */
#testimonial{
    background:linear-gradient(#0000008e,#0000008e),url(../image/testimonial-bg.jpg);
    background-repeat: no-repeat;
     background-size: cover;
     background-position:top;  
 background-attachment: fixed;
 
}
.testimonial_box{
    margin: auto;
    text-align: center;
}
.text_desc{
color: #fff;
width: 60%;
margin: auto;
font-size: 16px;
font-style: italic;
line-height: 28px;

}
.test_mete_img{
    width: 60px;
  
}
.test_mete_img img{
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
 
}
.test_meta h5{
    align-self: center;
    color: var(--hover-color);
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 10px;
}
.test_meta h5 span{
    color: #fff;
    font-size: 14px;
}
.slick-prev{
width: 40px;
 height:40px;
 background-color: #fff!important;
 padding: 5px;
border-radius: 50px;
 
}
.slick-prev:before{
 font-family:FontAwesome;
 content:"\f30a";
font-size: 15px;
color: var(--primary-color);

}
 
.slick-next{
    width: 40px;
     height:40px;
     background-color: #fff!important;
     padding: 5px;
    border-radius: 50px;
     
    }
    .slick-next:before{
     font-family:FontAwesome;
     content:"\f178";
    font-size: 15px;
    color: var(--primary-color);
    
    }
/* blog */
.blog_image img{
    width: 100%;
    object-fit: cover;
}
.blog_date{
  background-color: var(--primary-color);
  width: 45px;
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.blog_date span{
    font-size:14px;
    color: #fff;
}
.blog_content{
    padding: 20px;
}
.blog_review ul{
    display: flex;
    margin-left: -30px;
 justify-content: start;
}
.blog_review ul li{
  list-style: none;
}
.blog_review ul li a{
    font-size: 12px;
    margin-right: 10px;
    color:  #777!important;
}
.blog_review ul li a i{
    color: var(--primary-color);
font-size: 14px;
margin-right:7px

}


.blog_content h5{
font-size: 18px;
}
.blog_content h5 {
    font-size: 18px;
    width: 80%;
    line-height: 25px;
}
.blog_content p {
    font-size: 14px;
    color: #777;
    width: 74%;
    line-height: 30px;
}
.blog_content h5:hover{
    color: var(--hover-color);
    cursor: pointer;
}
 .badge_slider .slick-dots{
     display: none!important;
 }

 .badge_slider .slick-slide{
  
     margin: 0px 20px!important;
 }
 .badge_slider .slick-slide img{
     width: 100%;
 }
 
 /* support */
 .support_item{
     background-color: #f5f5f5a2;
     text-align: center;
    transition: all 0.3s;
 }
 .support_item:hover{
     box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important ;
 }
 .support_item i{
     font-size: 25px;
     color: var(--primary-color);
 }
 .support_content h5{
font-size: 18px;
font-weight: 600;
 }
 .support_content p{
     font-size: 14px;
     font-weight: 400;
     color: #777;
 }
 /* footer */
 #footer{
     background-color: #111;
 }
 .copyRightcontent{
     background-color: #000!important;
      
 }
 .footer_icon a{
    
 width: 30px;
 height: 30px;
 border: 1px solid #fff;
 display: grid;
 place-items: center;
 float: left;
margin-right: 15px;
 border-radius: 50px;
 }
 .footer_icon a i{
    color: #fff;
    font-size: 11px;
 }
 .footer_icon a:hover{
     background-color: var(--hover-color);
 }
 .copyright_text span{
     font-size: 14px;
     color: var(--text-color);
 }
 .copyright_text span span{
color: var(--hover-color);
 }
 .daveid_card{

width: 150px;

 }
 .daveid_car img{
     width: 100%;
     object-fit: cover;
 }
 .footer-content{
     padding-top: 60px;
 }
 .footer_item h2{
     color:var(--primary-color);
     font-size: 19px;
     margin-bottom: 25px;
 }
 .footer_item p{
     color: var(--text-color);
     font-size: 14px;
     font-weight: 300;
 }
 .footer_item p i{
     margin-right: 7px;
 }
 .footer_list{
      margin-left: -30px;
 }
 .footer_list li{
     list-style: none;

 }
 .footer_list li a{
     color: var(--text-color)!important;
     font-size: 14px;
     font-weight: 300;
      display: block;
      padding-top: 10px;
 }
 .footer_list li:first-child a{
     padding-top: 0px!important;
 }
 .footer_list li a:hover{
     color: var(--hover-color)!important;
 }
 .form_box input{
width: 78%;
padding: 10px 15px;
border: none;
outline: none;
font-size: 14px;
 }
 
 .footer_submitBtn{
     border: none;
     font-size: 17px;
     background-color: var(--primary-color);
     width: 50px;
     padding: 8px 0px;
 position: absolute;
 bottom:0px;
 right: 90px;
 
 }
 .footer_submitBtn i{
    color: #fff;
 }
  
  /* CONTACT PAGE */
  #contact{
      padding: 0px!important;
  }
  .contactbar{
      background-color: var(--primary-color);
      padding: 0px!important;
  }
  .contactbar_right ul{
list-style: none;
display: flex;
 justify-content:end;
 padding-top: 25px;
  }  
  .contactbar_right ul li{
     font-size: 12px!important;
     color: #fff;
     margin-left: 5px;
      
  } 
  .contactbar_right ul li:first-child{
      margin-left: 0px!important;
  }
  .contact_title h2{
      color: #fff;
      font-size: 25px;
      font-weight: 500;
  }
  .conatct_right_info h2{
      font-size: 20px;
      font-weight: 600;
      color: #000;
  }
  .conatct_right_info p{
      color: var(--text-color);
      font-size: 14px;
      font-weight: 400;
      width: 80%;
      line-height: 25px;
      
  }
  .contact_info_card i{
background-color: var(--primary-color);
display: grid; 
place-items: center;
 width: 45px;
 height: 45px;
color: #fff;
font-size: 14px;
padding:5px;
border-radius: 50%;
  }
  .contact_info_card_meta{
      font-size: 14px;
      color:
      var(--text-color);
      margin-left: 20px;
  }
  .contact_info_card_meta span{
      word-spacing:2px;
      transition: 0.3s;
  }
  .contact_info_card_meta span:hover{
      color: var(--hover-color)!important;
  }
  .contact_left_form h2{
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }
  .form-group{
      margin-bottom: 20px;
  }
  .form-group input,
  .form-group textarea
{
    outline: none;
    font-size: 15px;
     
  }
 
  .form-group input:focus{
    box-shadow: none;
    border-color: var(--primary-color);
    font-size: 13px!important;
}
  .form-group textarea:focus{
      box-shadow: none;
     border-color: var(--primary-color);
     font-size: 14px!important;
    }
 #contactBtn{
     width: 150px;
     border: none;
     background-color: var(--primary-color);
     color: #fff;
     padding: 10px;
     text-transform: capitalize;
     font-weight: 500;
     font-size: 15px;
     transition: all 0.3s;
 }
 #contactBtn:hover{
     background-color: #000;

 }
 .conatct_right_info{
     margin-left: 30px;
 }
 #map{
     background:linear-gradient(rgba(0, 0, 0, 0.313),rgba(0, 0, 0, 0.313)),url(../image/map.jpg);
    width: 100%;
    height: 65vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     object-fit: cover;
     padding-bottom: 0px!important;
 }
.primaryNav .nav-link:focus{
    color: var(--hover-color)!important;
}
 .subMenu{
     width: 190px;
     border: none;
     padding: 10px 0px!important;
     margin-top: 20px!important;
 }
 .subMenu li a{
     font-size: 13px;
     color: #777 !important;
     font-weight: 500;
     padding-top: 5px;

 }
 .subMenu li a:hover{
     background-color: transparent!important;
     color: var(--hover-color)!important;
     margin-left:10px
 }
 .megaMenu{
     padding: 20px!important;
     border: none;
      margin-left: -150px!important;
      margin-top: 20px!important;
        
 }
 .mageMenu_items li{
     margin-left: -18px;
 }
 .mageMenu_items h4{
     font-size: 15px;
     font-weight: 500;
     border-bottom: 2px solid #000;
     width: 20px;

 }
 .mageMenu_items li a{
     font-size: 13px;
     color: #777!important;
     font-weight: 500;
     padding-top: 5px;
 }
 .mageMenu_items li a:hover{
    background-color: transparent!important;
    color: var(--hover-color)!important;
    margin-left:10px
}